.idea/.gitignore
.idea/discord.xml
.idea/Learning_PHP.iml
.idea/misc.xml
.idea/modules.xml
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Learning_PHP.slnx/v18/.wsuo
.vs/Learning_PHP.slnx/FileContentIndex/b8f88165-9be8-4183-b590-9c6de3e70b9b.vsidx
.vs/Learning_PHP.slnx/v18/DocumentLayout.json
